/* GENERLAS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #182d3d;
}

/* UTILITY */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: #132431;
    padding: 0.5rem;
}

.logo {
    height: 3rem;
}

.logo img {
    height: 100%;
}

/* MAIN */

.disc-section {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.album-card {
    width: calc(100% / 3 - 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 2.5rem 0.5rem;
    padding: 2rem 1rem 1rem;
    background-color: #000;
    color: #fff;
}

.album-card span {
    padding: 5px 0;
}

.poster {
    width: 80%;
    padding-bottom: 1rem;
}

.poster img {
    width: 100%;
}